.eventCard {
    background-color: var(--gray-dark);
    border-radius: 5px;

    min-width: 12rem;
    width: 100%;
}

.eventCard > img {
    width: 100%;
}

.eventCard > div {
    padding: 1rem;
}

.eventCard > div > h5 {
    font-size: 1.4rem;
    text-align: center;
}

.eventCard > div > p {
    display: none;
}
